
.contenedor {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  width: 200px; 
  height: 350px; 
  text-align: center;
  overflow: hidden; 
}


.contenedor p {
  margin: 5px 0;
}

.contenedor img {
  
  height: 100px;
  width: auto; 
  object-fit: cover;
}
